RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Ensure Authorization header is passed to PHP
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
